<div class="modal-backdrop"></div>
<main class="document">
    <h3 class="document-head">Documents</h3>
    <div class="document-div">
        <div class="document-input-div">
            <input type="text" class="document-input" placeholder="Document Name">
            <button class="document-upload"> <img src="../../../assets/Vector (9).png" alt=""> UPLOAD FILE </button>
        </div><br>

        <div class="document-input-div">
            <input type="text" class="document-input" placeholder="Document Name">
            <button class="document-upload"> <img src="../../../assets/Vector (9).png" alt=""> UPLOAD FILE </button>
        </div><br>

        <div class="document-input-div">
            <input type="text" class="document-input" placeholder="Document Name">
            <button class="document-upload"> <img src="../../../assets/Vector (9).png" alt=""> UPLOAD FILE </button>
        </div><br>

        <div class="document-input-div">
            <input type="text" class="document-input" placeholder="Document Name">
            <button class="document-upload"> <img src="../../../assets/Vector (9).png" alt=""> UPLOAD FILE </button>
        </div><br>

        <div class="document-input-div">
            <input type="text" class="document-input" placeholder="Document Name">
            <button class="document-upload"> <img src="../../../assets/Vector (9).png" alt=""> UPLOAD FILE </button>
        </div>
    </div>

    <button class="document-btn">Save Edit</button>
</main>
