<!-- {{application.id}} -->
<main class="details">
    <div class="details-header">
        <div class="details-header-left">
            <h2>Product Designer</h2>
            <p>Lagos,NGA / ATB TECHSOFT SOLUTIONS / INFORMATION TECHNOLOGY</p>
        </div>
        <div class="details-header-right">
            <button class="details-btn">Applied</button>
            <p>Date Posted: 20/07/2021</p>
        </div> 
    </div>

    <div class="details-product">
        <h3>Product Designer Job Description</h3>
        <h4>Job Overview</h4>
        <p>ATB TechSoft solutions Limited, a leading firm in information technology industry in the metro area. 
            We are pleased to have a 4.0 Glassdoor rating. We are looking to hire an experienced product designer to help
             us keep growing. If you are hardworking and dedicated, ATB Techsoft solutions limited is an ideal place to
              get ahead. Apply today.</p><br>
         <h3>Responsibilities of Product Designer</h3>    
         <p>Create design concepts and drawings to determine the best product </p>
         <p>Present product ideas to relevant team members for brainstorming</p>
         <p>Suggest improvements to design and performance to product engineers</p>
         <p>Employ design concepts into functional prototypes</p>
         <p>perform research on product technologies and structures to implement into design concepts</p>
         <p>Maintaian up to date on current industry trends and market conditions</p>
         <p>Coordinate with designers to ensure accurate communicationand efficiency in the design phase</p>
         <p>Modify and revise existing designs to meet customer expectations</p><br>

         <h3>Qualifications of Product Designer</h3>
         <p>Relevenat work experience as a product designer</p>
         <p>Exceptional verbal and written communication skills</p>
         <p>Excellent eye to aesthetic design and customer appeal</p>
         <p>Good understanding of color science and combinations</p>
         <p>Artistic and innovative flair</p>
         <p>Excellent attention to detail</p>
         <p>Meticulous and dilligent</p>
         <p>Strong knowledge of the industry and market trends</p>
         <p>Able to sit in front of a computer for long hours at a time</p><br>

         <h4>Required Educational level: <span style="font-weight:lighter;">Graduate</span></h4>
         <h4>Experience level: <span style="font-weight:lighter;">Professional</span></h4>
         <h4>Job Type: <span style="font-weight:lighter;">Remote</span></h4>
         <h4>Job Role Type: <span style="font-weight:lighter;">Full time</span></h4>
         <h4>Location: <span style="font-weight:lighter;">Lagos, NGA</span></h4>
         <h4>Salary: <span style="font-weight:lighter;">#450,000 - #890,000</span></h4><br>
         
         <button class="details-button">Applied</button>

    </div><br><br><br><br>

    <app-footer></app-footer>
    
    
</main>

