<main class="account">
  <div class="password-back"><img src="../../../assets/Vector (4).png" alt=""> Back</div> 
    <div class="account-middle">
        <h2>Password Reset Link Sent</h2>
        <p>Check your email for the Password reset link.</p>
        <img src="../../../assets/Vector (10).png" alt="" class="circle-good">
        <img src="../../../assets/Vector (11).png" alt="" class="good"><br><br><br>

        <a routerLink="/jobs/applications"><button class="return"> Return to Home</button> </a> 
    </div>
</main>
