.edit-info{
    width: 38vw;
    height: 110vh;
    position: absolute;
    border-radius: 4px;
    top: 10vh;
    background-color: #fff;
    box-shadow: 0 0 3px gray;
    right: 30vw;
    animation: modal-fade 0.6s ease-in-out;
    z-index: 200;
    /* border: 1px solid black; */
}
@keyframes modal-fade {
    from { opacity: 0; }
    to { opacity: 1; }
  }
.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* z-index: -1; */
}  
.edit-top{
    /* border: 1px solid black; */
    margin-top: 5vh;
    margin-left: 4vw;
    color: #5E5873;
}
.upload-file{
    margin-left: 1vw;
    padding: 1.5vh 1vw;
    border: none;
    border-radius: 5px;
    color: #5E5873;
}
.modal-main{
    /* border: 1px solid black; */
    background-color: #fff;
    margin-top: 3vh;
    color: #5E5873;
}
.modal-div{
    width: 30vw;
    height: 4vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
}
.modal-label{
    width: 8vw;
    /* border: 1px solid black; */
}
.modal-input{
    width: 20vw;
    height: 4vh;
    border: 1px solid #b6b5ba;
    border-radius: 5px;
}
.save-btn{
    margin-left: 16vw;
    background-color: #440F7C;
    padding: 1vh 1vw;
    border-radius: 3px;
    border: none;
    color: white;
    margin-top: 3vh;
}
.close-btn{
    margin-left: 34vw;
    border: none;
    color: red;
    background-color: transparent;
    cursor: pointer;
}
.edit-valid-email{
    color: #d62196;
    font-size: 0.8vw;
    margin-left: 5vw;
}