<div class="edit-info">
    <!-- <button>close</button> -->
   
    <button (click)="close()">close</button>
   <div class="edit-top">
    Product Design
    <p>Personal Information</p>

    profile picture 
    <button class="upload-file">UPLOAD FILE</button>
   </div> 

    <form action="" class="modal-main">
        <div class="modal-div">
            <div class="modal-label">
                <label for="">Full Name:</label>
            </div>
            <input type="text" name="" id="" class="modal-input">
        </div><br>
        
        <div class="modal-div">
            <div class="modal-label"><label for="">Phone:</label></div>
        <input type="text" name="" id="" class="modal-input">
        </div><br>

        <div class="modal-div">
           <div class="modal-label"><label for="">Email:</label></div> 
        <input type="text" name="" id="" class="modal-input">
        </div><br>

        <div class="modal-div">
           <div class="modal-label"> <label for="">Birthday:</label></div>
        <input type="text" name="" id="" class="modal-input">
        </div><br>

        <div class="modal-div">
           <div class="modal-label"><label for="">Address:</label></div> 
        <input type="text" name="" id="" class="modal-input">
        </div><br>

        <div class="modal-div">
           <div class="modal-label"><label for="">Gender:</label></div> 
        <input type="text" name="" id="" class="modal-input">
        </div><br>

        <div class="modal-div">
            <div class="modal-label"><label for="">Location:</label></div> 
        <input type="text" name="" id="" class="modal-input"> 
        </div><br>

        <div class="modal-div">
           <div class="modal-label"> <label for="">Skills:</label></div>
        <input type="text" name="" id="" class="modal-input">
        </div><br>

        <div class="modal-div">
           <div class="modal-label"><label for="">Tools:</label></div> 
        <input type="text" name="" id="" class="modal-input">
        </div><br>

        <button>Save Edit</button>

       
        
    </form>
</div>
