<div class="modal-backdrop"></div>
<div class="edit-info">
    
   
   <div class="edit-top">
    <h2>Product Design</h2>
    <h3>Personal Information</h3><br>

    Profile Picture <span style="color: red">*</span> 
    <button class="upload-file"> <img src="../../../assets/Vector (7).png" alt=""> UPLOAD FILE</button>
   </div> 


    <form [formGroup]="editForm" class="modal-main" (ngSubmit)="onSubmit()">
        <div class="modal-div">
            <div class="modal-label">
                <label for="fullname">Full name  <span style="color: red">*</span> </label>
            </div>
            <input type="text" formControlName="fullname" id="fullname" class="modal-input">
        </div><br>
        
        <div class="modal-div">
            <div class="modal-label"><label for="phone">Phone  <span style="color: red">*</span> </label></div>
        <input type="text" formControlName="phone" id="phone" class="modal-input">
        </div><br>

        <div class="modal-div">
           <div class="modal-label"><label for="email">Email  <span style="color: red">*</span> </label></div> 
        <input type="text" formControlName="email" id="email" class="modal-input">
        </div> 
        <span *ngIf="!editForm.get('email').valid && editForm.get('email').touched" class="edit-valid-email">Please enter a valid email!</span>
        <br>

        <div class="modal-div">
           <div class="modal-label"> <label for="birthday">Birthday  <span style="color: red">*</span> </label></div>
        <input type="text" formControlName="birthday" id="birthday" class="modal-input">
        </div><br>

        <div class="modal-div">
           <div class="modal-label"><label for="address">Address  <span style="color: red">*</span> </label></div> 
        <input type="text" formControlName="address" id="address" class="modal-input">
        </div><br>

        <div class="modal-div">
           <div class="modal-label"><label for="gender">Gender  <span style="color: red">*</span> </label></div> 
        <input type="text" formControlName="gender" id="gender" class="modal-input">
        </div><br>

        <div class="modal-div">
            <div class="modal-label"><label for="location">Location  <span style="color: red">*</span> </label></div> 
        <input type="text" formControlName="location" id="location" class="modal-input"> 
        </div><br>

        <div class="modal-div">
           <div class="modal-label"> <label for="skills">Skills  <span style="color: red">*</span> </label></div>
        <input type="text" formControlName="skills" id="skills" class="modal-input">
        </div><br>

        <div class="modal-div">
           <div class="modal-label"><label for="tools">Tools  <span style="color: red">*</span> </label></div> 
        <input type="text" formControlName="tools" id="tools" class="modal-input">
        </div><br>

        <button class="save-btn">Save Edit</button>
        
    </form>

</div>

