<div class="application-div">
    <div class="my-application">
        <div class="my-application-left">
            <p style="color: #5E5873">My Applications</p>
        </div>
        <div class="logout"> <img src="../../../assets/My project (2).png" alt="" class="logout-img"> Logout</div>
    </div>
    <app-filters (searchTextChanged)="onSearchTextEntered($event)"></app-filters>
</div>
<main class="application">

    <a href="#" *ngFor="let application of applications">
    <div class="app-list">
       <div class="app-img-div"><img [src]="application.imagePath" alt="" class="app-img"></div>
        <div class="company">
            <p>{{application.company}}</p>
            <h3>{{application.level}}</h3>
        </div>

        <div class="country">
            <div class="my-country">
                <img src="../../../assets/location.svg" alt="" class="location-img">
                <p>{{application.country}}</p>
            </div>
            <div class="salary">
                {{application.amount}}
            </div>
        </div>
        <div class="tags">
            <div class="single-tags">Figma</div>
            <div class="single-tags">Sketch</div>
            <div class="single-long-tags">Adobe XD</div>
            <div class="single-long-tags">Illustrator</div>
            <div class="single-long-tags">Photoshop</div>
            <div class="single-tags">Invision</div>
        </div>
        <div class="time">
            {{application.time}}
        </div>
        
    </div>
    </a>

</main>
