<main class="sign-up">
    <div class="sign-up-center">
        <h1 class="signup-h1">Sign Up</h1><br><br>
        <form action="">
            <label for="" class="label">Email Address</label><br>
            <input type="text" class="sign-up-input"><br><br>

            <label for="" class="label">Password</label>
            <input type="text" class="sign-up-input"><br><br>

            <label for="" class="label">Confirm Password</label>
            <input type="text" class="sign-up-input">

            <button class="sign-up-btn">Sign Up</button><br><br>
            <p class="have-account">Don't have an account? <span style="color: #D62196">Sign Up</span> </p>
        </form>
    </div>
</main>

