<div class="my-application">
  <div class="my-application-left">
      <p style="color: #5E5873">My Applications</p>
  </div>
  <div class="logout"> <img src="../../../assets/My project (2).png" alt="" class="logout-img"> Logout</div>
</div>
<main class="profile">
  <div class="my-profile">
    <div class="profile-description">
      <div class="info">
        Information
        <img src="../../../assets/profile pic.svg" alt="" class="info-pic" />
        <h3>Ronke Bosola</h3>
        <p>Product Designer</p>
      </div>
      <div class="phone">
        <p>phone:</p>
        <p>Email:</p>
        <p>Birthday:</p>
        <p>Address:</p>
        <p>Gender:</p>
        <p>Location:</p>
      </div>
      <div class="phone-number">
        <p>09039910280</p>
        <p>Chidoziek2@gmail.com</p>
        <p>8th, march 1996</p>
        <p>16, Sunday Monday Ave, Ikeja Lagos</p>
        <p>Male</p>
        <p>Ajah Lagos NGA</p>
      </div>
    </div>


    <div class="skills">
      <div (click)="onEdit()">
        <div class="pen">
          <img src="../../../assets/pen.svg" alt="" />
          <span style="color: #d62196">edit</span>
        </div>
      </div>
      <button class="my-close-btn" *ngIf="editCreated" (click)="close()">Close</button>
      <app-edit-info *ngIf="editCreated" (onEdit)="onEdit()"></app-edit-info>

      <div class="skill-tag">
        <p>skills</p>
        <button>Illustrator</button>
        <button>Photoshop</button>
        <button>Figma</button>
        <button>Adobe Illustrator</button>
        <button>Sketch</button>
      </div>

      <div class="skill-tag">
        <p>Tools</p>
        <button>Illustrator</button>
        <button>Photoshop</button>
        <button>Figma</button>
        <button>Adobe Illustrator</button>
        <button>Sketch</button>
      </div>

    </div>

      
  </div>

  <div class="about">
    <div class="pen2">
      <img src="../../../assets/pen.svg" alt="" />
      <span style="color: #d62196">edit</span>
    </div>

    <div class="about-div">
      About Me
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        dolor placeat, sequi vero labore optio rem doloremque totam hic nemo est
        magnam veniam eum soluta tempore dolorem delectus nisi eaque dignissimos
        aspernatur voluptate repudiandae unde laudantium? Tenetur libero impedit
        dolores hic accusamus atque adipisci dignissimos, eos quae. Sapiente
        natus, provident adipisci necessitatibus dolores minima possimus,
        voluptate ut cupiditate quod recusandae soluta nisi optio sed culpa
        voluptates a illum, porro quia eum labore? Ratione facilis quasi amet?
        Aperiam laboriosam blanditiis ipsam itaque provident veritatis dolore
        aliquid iusto veniam laudantium, cupiditate dicta voluptate iure
        pariatur, voluptatum consequuntur vero voluptates voluptatem? Quasi,
        recusandae.
      </p>
    </div>

    <div class="experience">
      <div class="pen2">
        <img src="../../../assets/pen.svg" alt="" />
        <span style="color: #d62196">edit</span>
      </div>

      <div class="about-div">
        Work Experience
        <p>Product Designer ABC Technologies 2000 - 2003</p>
        *Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, minus.<br />
        *Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, minus.<br />
        *Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, minus.<br />
        *Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, minus.<br />
        *Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, minus.<br />
        *Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, minus.<br />
        *Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, minus.<br />
        *Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, minus.<br />
        *Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, minus.<br />
        *Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, minus.<br />
        *Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, minus.<br />
        *Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, minus.
      </div>
    </div>

    <div class="project">
      <div class="pen2">
        <img src="../../../assets/pen.svg" alt="" />
        <span style="color: #d62196">edit</span>
      </div>

      <div class="about-div">
        <h3>Projects</h3>
        <br />
        <h5>Project Title</h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eveniet
        aliquid soluta sint rerum ratione!
        <p style="color: #d62196">Project link</p>
        <br />

        <h5>Project Title</h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eveniet
        aliquid soluta sint rerum ratione!
        <p style="color: #d62196">Project link</p>
        <br />

        <h5>Project Title</h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eveniet
        aliquid soluta sint rerum ratione!
        <p style="color: #d62196">Project link</p>
      </div>
    </div>

    <div class="education">
      <div class="edu-info">
        <div class="pen3">
          <img src="../../../assets/pen.svg" alt="" />
          <span style="color: #d62196">edit</span>
        </div>

        <div class="about-div">
          <h3>Education information</h3>
          <h4><p>International Colledge of Design and Coding - undergraduate</p></h4>
          <p>Bsc Computer Science</p>
          <p>2000 - 2003</p><br>
  
          <h4><p>International Coledge of Design and Coding - Post Graduate</p></h4>
          <p>Msc Computer Science</p>
          <p>2004 - 2005</p>
        </div>
        
      </div>

      
      <div class="document">
        <div class="pen3">
          <img src="../../../assets/pen.svg" alt="" />
          <span style="color: #d62196">edit</span>
        </div>

        <div class="about-div2">
          <h3>Documents</h3><br>
          <p>Document Name <span style="color: #d62196">View</span></p>
          <p>Document Name <span style="color: #d62196">View</span></p>
          <p>Document Name <span style="color: #d62196">View</span></p>
          <p>Document Name <span style="color: #d62196">View</span></p>
          <p>Document Name <span style="color: #d62196">View</span></p>
        </div>
        

      </div>
    </div>
  </div>
</main>
