<div class="modal-backdrop"></div>
<main class="projects">
    <h3 class="projects-head">Projects</h3>
    <div class="project-input-field">
        <input type="text" class="project-input-main" placeholder="project title">
        <input type="text" class="project-input-main" placeholder="Project link">
    </div>

    <div class="project-text-area">
        <textarea name="" id="" cols="30" rows="10" placeholder="Project description" class="project-area"></textarea>
    </div><br><br> 

    <div class="project-input-field">
        <input type="text" class="project-input-main" placeholder="project title">
        <input type="text" class="project-input-main" placeholder="Project link">
    </div>

    <div class="project-text-area">
        <textarea name="" id="" cols="30" rows="10" placeholder="Project description" class="project-area"></textarea>
    </div>

    <button class="project-btn">Save Edit</button>
    <button class="project-add">Add</button>
</main>
