<div class="modal-backdrop"></div>
<main class="about-me">
    <h3 class="about-head">About Me</h3>
    <div class="about-main">
        <div class="main-headers">
            <img src="../../../assets/Vector copy 4.png" alt="">
            <img src="../../../assets/Vector copy 3.png" alt="">
            <img src="../../../assets/Vector copy 2.png" alt="">
            <img src="../../../assets/Vector 3.png" alt="">
            <img src="../../../assets/Vector 2.png" alt="">
            <img src="../../../assets/Vector copy.png" alt="">
            <img src="../../../assets/Vector copy 9.png" alt="">
            <img src="../../../assets/Vector copy 8.png" alt="">
            <img src="../../../assets/Vector copy 7.png" alt="">
            <img src="../../../assets/Vector copy 6.png" alt="">
            <img src="../../../assets/Vector copy 5.png" alt="">
            <img src="../../../assets/Vector copy 13.png" alt="">
            <img src="../../../assets/Vector copy 12.png" alt="">
            <img src="../../../assets/Vector copy 11.png" alt="">
            <img src="../../../assets/Vector copy 10.png" alt="">
            <img src="../../../assets/Vector copy 14.png" alt="">
            <img src="../../../assets/Vector copy 15.png" alt="">
            
        </div>

        <!-- <p class="about-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia consectetur sapiente reiciendis, nostrum placeat obcaecati assumenda nesciunt beatae reprehenderit laudantium, consequatur dolorem et nam velit nulla, sequi veniam totam! Unde aliquid ut id! Et error iusto reprehenderit excepturi quasi placeat, soluta officiis veritatis porro iure ratione vel dolorum ex laudantium culpa quia fugiat voluptas inventore harum molestias nesciunt incidunt. Quis esse laborum omnis atque accusamus, alias temporibus quod molestias molestiae similique quam mollitia ea rerum, veniam neque repellendus voluptatem distinctio!</p>
        <p class="about-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia consectetur sapiente reiciendis, nostrum placeat obcaecati assumenda nesciunt beatae reprehenderit laudantium, consequatur dolorem et nam velit nulla, sequi veniam totam! Unde aliquid ut id! Et error iusto reprehenderit excepturi quasi placeat, soluta officiis veritatis porro iure ratione vel dolorum ex laudantium culpa quia fugiat voluptas inventore harum molestias nesciunt incidunt. Quis esse laborum omnis atque accusamus, alias temporibus quod molestias molestiae similique quam mollitia ea rerum, veniam neque repellendus voluptatem distinctio!</p>
        <p class="about-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia consectetur sapiente reiciendis, nostrum placeat obcaecati assumenda nesciunt beatae reprehenderit laudantium, consequatur dolorem et nam velit nulla, sequi veniam totam! Unde aliquid ut id! Et error iusto reprehenderit excepturi quasi placeat, soluta officiis veritatis porro iure ratione vel dolorum ex laudantium culpa quia fugiat voluptas inventore harum molestias nesciunt incidunt. Quis esse laborum omnis atque accusamus, alias temporibus quod molestias molestiae similique quam mollitia ea rerum, veniam neque repellendus voluptatem distinctio!</p> -->
   
        <textarea name="" id="" cols="30" rows="10" class="about-txt"></textarea>
    </div>

    <button class="abt-btn">Save Edit</button>
</main>
