<main class="sign-up">
    <div class="sign-up-center">
        <h1 class="signup-h1">Application Tracker</h1>
        <p class="signup-h1">Login to access and manage your job applications</p>
        <br><br>
        <form action="">
            <label for="" class="label">Email Address</label><br>
            <input type="text" class="sign-up-input"><br><br>

            <label for="" class="label">Password</label>
            <input type="text" class="sign-up-input"><br><br>

            <button class="sign-up-btn">Login</button><br><br>
            <p class="forgot-password" style="color: #D62196">Forgot Password</p><br>
            <p class="have-account">Don't have an account? <span style="color: #D62196">Sign Up</span> </p>
        </form>
    </div>
</main>

