<header class="navbar">
    <div class="navbar-logo">
        <img src="../../../assets/my_xalary_logo.png" alt="" class="navbar-img">
    </div>
    <div class="nav-links">
        <ul>
            <li>Home</li>
            <li>About Us</li>
            <li class="features">Features <img src="../../../assets/drop-down.png" alt="" class="drop-down"> </li>
            <li style="color: #d62196">Jobs</li>
            <li>LMS</li>
            <li class="features">How it works <img src="../../../assets/drop-down.png" alt="" class="drop-down"></li>
            <li>Blog</li>
            <li>FAQs</li>
            <li>Contact Us</li>
        </ul>
    </div>
   <div class="get-started-div">
    <button class="get-started">Get Started</button>
   </div> 
</header>
