<div class="modal-backdrop"></div>
<main class="experience">
    <h3 class="experience-header">Work Experience</h3>
    <div class="experience-center">
        <div class="input-container">
            <div class="left-input">
                <input type="text" class="experience-input" placeholder="Job title"><br>
                <input type="text" class="experience-input" placeholder="Start date">
            </div>
            <div class="right-input">
                <input type="text" class="experience-input" placeholder="Company"><br>
                <input type="text" class="experience-input" placeholder="End date">
            </div>
        </div>

        <h3 class="desc">Job Description</h3>
        <div class="experience-area">
            <textarea name="" id="" cols="30" rows="10" class="experience-txt"></textarea>
        </div>
        
        
    </div><br><br>

    <div class="experience-center">
        <div class="input-container">
            <div class="left-input">
                <input type="text" class="experience-input" placeholder="Job title"><br>
                <input type="text" class="experience-input" placeholder="Start date">
            </div>
            <div class="right-input">
                <input type="text" class="experience-input" placeholder="Company"><br>
                <input type="text" class="experience-input" placeholder="End date">
            </div>
        </div>

        <h3 class="desc">Job Description</h3>
        <div class="experience-area">
            <textarea name="" id="" cols="30" rows="10" class="experience-txt"></textarea>
        </div>
    </div>

    <button class="save-edit">Save edit</button>
</main>
