<main class="sidebar">
    <a routerLink="/jobs/applications"> <div class="sidebar-item" routerLinkActive="active">
      <img src="../../../assets/My project (3).png" alt="" class="sidebar-logout"> My Applications
    </div></a>

    <a routerLink="/jobs/offers"><div class="sidebar-item" routerLinkActive="active">
      <img src="../../../assets/Vector (1).svg" alt="" class="sidebar-img"> My Offers
    </div></a>

    <a routerLink="/jobs/my-jobs"><div class="sidebar-item" routerLinkActive="active">
       <img src="../../../assets/My project (4).png" alt="" class="sidebar-logout"> Jobs
    </div></a>

    <a routerLink="/jobs/my-profile"><div class="sidebar-item" routerLinkActive="active">
      <img src="../../../assets/Vector.svg" alt="" class="sidebar-img"> My Profile
    </div></a>

    <a routerLink="/jobs/my-history"><div class="sidebar-item" routerLinkActive="active">
      <img src="../../../assets/Vector (6).png" alt="" class="sidebar-img"> My History
    </div></a>

    <div class="sidebar-item" routerLinkActive="active">
       <img src="../../../assets/My project (2).png" alt="" class="sidebar-logout"> Logout
    </div>
</main>
