<div class="modal-backdrop"></div>
<main class="education">
    <h3 class="education-head">Education Information</h3>
    <div class="education-div">
        <input type="text" class="education-input" placeholder="School">
        <input type="text" class="education-input" placeholder="Course">
        <input type="text" class="education-input" placeholder="Start Date">
        <input type="text" class="education-input" placeholder="End Date">
    </div><br><br>
    <div class="education-div">
        <input type="text" class="education-input" placeholder="School">
        <input type="text" class="education-input" placeholder="Course">
        <input type="text" class="education-input" placeholder="Start Date">
        <input type="text" class="education-input" placeholder="End Date">
    </div><br><br>
    <div class="education-div">
        <input type="text" class="education-input" placeholder="School">
        <input type="text" class="education-input" placeholder="Course">
        <input type="text" class="education-input" placeholder="Start Date">
        <input type="text" class="education-input" placeholder="End Date">
    </div>

    <div class="education-btns">
        <button class="education-save">Save Edit</button>
        <button class="education-add">Add</button>
    </div>
    
</main>
